.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images
{
    float: left !important;
}

form .wc-bookings-booking-form .block-picker li[data-availability='5']:before,
form .wc-bookings-booking-form .block-picker li[data-availability='4']:before,
form .wc-bookings-booking-form .block-picker li[data-availability='3']:before,
form .wc-bookings-booking-form .block-picker li[data-availability='2']:before,
form .wc-bookings-booking-form .block-picker li[data-availability='1']:before {
    content: "נותרו רק " attr(data-availability) " כרטיסים" !important;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary
{
    float: right !important;
}
p#billing_email_field::after {
    content: 'לכתובת הזו יישלחו הכרטיסים שלך';
}
button.book-now {
    float: left !important;
}

.tour-date-and-time .date {
    float: right;
}

.tour-date-and-time .time {
    margin-left: 0;
    margin-right: 50px;
}

button.contact-us {
    right: auto;
    left: 0;
}
.wc-bookings-date-picker .ui-widget-content, .wc-bookings-date-picker .ui-datepicker td.fully_booked a:hover::before, .wc-bookings-date-picker .ui-datepicker td.fully_booked span:hover::before, .wc-bookings-date-picker .ui-datepicker td.not-bookable span:hover::before, .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-unselectable span:hover::before {
    font-family: 'Open Sans Hebrew', sans-serif !important;
}

.menu .nav li a.wpmenucart-contents {
    background: url(assets/images/mini-cart.png) no-repeat;
    background-size: contain;
    padding: 28px 43px 10px 12px;
}

li#wpmenucartli {
    right: 0;
    left: auto;
}

.tour-item-icon img, .tour-item-icon p.cost {
    margin: 0 30px 10px 5px !important;
}

span.cost.heb {
    display: inline-block;
}

span.cost.eng {
    display: none;
}

.rtl tr.cart-discount td {
    float: left;
}

p.mc4wp-checkbox.mc4wp-checkbox-woocommerce input {
    margin: 4px 0px -4px 10px;
}

@media (min-width: 768px) {
    .hebrow .col-sm-1, .hebrow .col-sm-2, .hebrow .col-sm-3, .hebrow .col-sm-4, .hebrow .col-sm-5, .hebrow .col-sm-6, .hebrow .col-sm-7, .hebrow .col-sm-8, .hebrow .col-sm-9, .hebrow .col-sm-10, .hebrow .col-sm-11
    {
        float: right;
    }

    .hebrow .no-pl
    {
        padding-right: 0;
        padding-left: 15px;
    }



}

div.title-side {
    left: auto;
    right: 10%;
}

div.title-side h1 {
    text-align: right;
    font-size: 50px;
}

div.tour-link {
    float: left;
    font-family: 'Open Sans Hebrew', sans-serif !important;
}

.col-sm-6.tour-column {
    float: right !important;
}

.tour-item-icon {
    float: right;
}

.tour-item-icon p.value {
    margin-right: 0px;
    margin-left: 20px;
}

.tour-item-icon img {
    margin: 0 20px 9px 0px;
}

.tour-link {
    margin: 0 0 0 20px;
}

.tour-item-title {
    padding: 20px 20px 0 0;
}

div.business-offer img.left{
    float: right;
}

.yellow-banner-wrap {
    background-position: left 20px center;
    background-image: url(assets/images/black_arrow_left.png);
}

.yellow-banner-wrap:hover {
    background-image: url(assets/images/black_arrow_left_hover.png);
}


div.business-offer img.right{
    float: left;
    margin-top: 9px;
}

p.form-field.form-field-wide.wc_bookings_field_persons {
    float: left !important;
}

a.control_next {
    /*left: -1px;*/
    /*right: auto !important;*/
}
.select-tour-wrapper {
    float: right !important;
}

.product-props {
    float: right;
}

div.prod-right {
    float: left !important;
}

div.product-props dt, div.product-props dd {
    float: right !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
}

div.prod-right a.trashprod {
    left: 0 !important;
    right: auto !important;
}

div.prod-right {
    padding: 0px 0px 0px 40px !important;
}
table.shop_table tr td {
    text-align: left !important;
}

a.checkout-button {
    float: left !important;
}

.rtl .woocommerce .col2-set .col-1, .rtl .woocommerce-page .col2-set .col-1 {
    float: right !important;
}

.rtl .woocommerce .col2-set .col-1, .rtl .woocommerce-page .col2-set .col-1 {
    float: right !important;
}

.rtl .woocommerce .col2-set .col-2, .rtl .woocommerce-page .col2-set .col-2 {
    float: left !important;
}

.shop_table.woocommerce-checkout-review-order-table, .shop_table.woocommerce-checkout-review-order-table tr td {
    text-align: right !important;
}

.thankyou-icon-wrapper {
    width: 20%;
    float: right !important;
    margin-right: 0 !important;
    margin-left: 5% !important;
    text-align: center;
}

button.yellow-icon {
    background-position: 98% 50% !important;
    padding-right: 50px !important;
    padding-left: 10px !important;
}

div.gmaps h2.left {
    float: right !important;
}

div.gmaps h2.right {
    float: left !important;
}

div.our-tours .container .row .col-sm-4 {
    float: right !important;

}

div.tour-text {
    text-align: right !important;
}

.container div.row.contact-page div.col-sm-6.support-rtl {
    float: right !important;
}

form.wpcf7-form {
    direction: rtl;
}

div.event {
    float: right !important;
}

.close-popup {
    right: auto !important;
    left: 10px;
}

.wc-bookings-date-picker .ui-datepicker td.fully_booked a:hover::before,
.wc-bookings-date-picker .ui-datepicker td.fully_booked span:hover::before,
.wc-bookings-date-picker .ui-datepicker td.not-bookable span:hover::before,
.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-unselectable span:hover::before {
    top: -65px;
    margin-right: -55px;
    margin-left: 0 !important;
}

.rtl li.dropdown:hover ul.dropdown-menu {
    left: 0;
    right: auto;
}

.rtl .menu .nav li ul li a {
    text-align: left !important;
    color: #fdb813;
    padding-left: 0 !important;
}



.woocommerce form .form-row .input-checkbox {
    float: right;
    margin: 4px 0 0 7px;
}

form .wc-bookings-booking-form .block-picker li.has-error::after {
    content: "נותרו רק " attr(data-availability) " כרטיסים" !important;
    font-family: Open Sans Hebrew;
    font-size: 12px;
}

a.change img {
    position: absolute;
    right: -23px;
    left: auto;
    top: 4px;
}

button, a {
    font-family: 'Open Sans Hebrew' !important;
}

.is_open span.wpcf7-form-control-wrap {
    float: right;
    width: 25%;
    display: block !important;
}
.is_open .wpcs-cf7 input.wpcf7-form-control.wpcf7-submit
{
    top: -13px !important;
    left: -12px;
}

.wpcs_tab {
    font-family: 'Open Sans Hebrew', sans-serif !important;
}

.select2-selection__arrow {
    background-image: url(assets/images/select_bg_rtl.png);
    background-position: left;
}

.book-buttons a.add-another{
    float: right !important;
    background-color: #000 !important;
}

.book-buttons a, .book-buttons button {
    font-family: "Open Sans Hebrew", sans-serif !important;
}

span.woocommerce-Price-amount.amount
{
    float: left;
}
table.shop_table tr th {
    text-align: right !important;
}

.select-tour-wrapper select, .wc_bookings_field_persons select {
    background-position: left !important;
    background-image: url(assets/images/select_bg_rtl.png) !important;
    padding-right: 5px;
    padding-left: 47px
}

p.form-row.woocommerce-invalid-required-field::after {
    content: '* זהו שדה חובה';
    color: #a00;
    font-weight: bold;
}

p.form-row.woocommerce-invalid-email::after {
    content: '* נא להזין כתובת אימייל תקינה';
    color: #a00;
    font-weight: bold;
}

a.ui-datepicker-next {
    background-image: url(assets/images/arrow_left.png) !important;
}

a.ui-datepicker-prev {
    background-image: url(assets/images/arrow_right.png) !important;
}


@media screen and (max-width: 768px) {
    div.title-side {
        position: relative !important;
        opacity: 1 !important;
        width: 100% !important;
        right: 0 !important;
    }
    .tour-item-icon img, .tour-item-icon p.cost {
        margin: 0 15px 0px 0px !important;
    }
    
    .tour-item-icon p.value {
        margin-left: 10px;
    }
    div.tour-link {
        margin-left: 10px;
    }
    .col-sm-6.tour-column {
        width: 100%;
    }
    div.business-offer {
    width: 100%;
        margin-right: auto;
    }

    div.product-props dt, div.product-props dd {
        float: none !important;
    }

    div.prod-right {
        float: right !important;
    }

    input#coupon_code {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .woocommerce form.checkout_coupon p.form-row {
        width: auto !important;
        float: none !important;
    }
}
/* tamar css */

#empty_basket{
font-weight: bolder;
    text-align: center;
	  padding-top: 50px;
    padding-bottom: 50px;
}
a.button.wc-backward{
	background-color:black !important;
}
p.return-to-shop {
    float: right !important;
	  
}
a.button.wc-backward {
    background-color: black !important;
    border-radius: 5px;
    padding: 13px;
    font-size: 1.1em;
}
.tour-item-title{
       padding: 20px 0 0 0px !important;
}
.col-sm-6 .yellow-banner-wrap{
   width: 99% ;
}

 .tour-column.col-sm-6 .tour-item-special.box .yellow-banner-wrap:after{
	right: -7px !important;
}

.tour-item > a .tour-item-title {
  
    position: relative;
    color: #000;
}
.tour-item {
    margin-top: 100px !important;
}
.tour-item > a {
    position: absolute;
    bottom: 340px;
}

.homepage h2.title-block::after, .cask_temp h1::after , h2.events-title::after{
     content: "■" !important;
  }
@media(min-width:768px){
body > div.wrap > div > div > div.tours-wrapper > div > div.row > div:nth-child(8){
	/*top: 80px; */
}
/*	.yellow-banner-wrap{top:189px;}*/
}
@media(max-width:767px){
	.tour-item-title {
    color: #231f20;
	}
	.tour-item > a {
    position: absolute;
		bottom: 237px;}
}


/* */

ul li { 
    list-style-position: outside !important;
     margin-left: 1em;
}
@media (max-width:767px){

	a.add-another.add-another-tour-to-cart, a.add-another{
		display:none !important ;
	}
	div.helptext{
		bottom: -3em;
	}
	footer.content-info{margin-top:50px;}
#select_tour{
	font-size: 13px;
}
}

iframe#st_gdpr_iframe {
    left: auto !important;
    right: -5000px !important;
}

/* Daniel Smolkin Dev - Start */
div.woocommerce-terms-and-conditions-wrapper p.form-row.validate-required input.woocommerce-form__input
{
    margin-left: 10px;
    margin-right: -3px;
}
/* Daniel Smolkin Dev - End */